<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h3 class="heading">About us</h3>
      <p>
        sample About us text. <a href="/contact">Contact us</a>
      </p>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h3>Our services</h3>
        </div>
        <div class="services">
          <div class="col-md-4">
            <h4>House keeping</h4>
            <p>
              sample House keeping text
            </p>
          </div>
          <div class="col-md-4">
            <h4>Accounting</h4>
            <p>
              sample Accounting text
            </p>
          </div>
          <div class="col-md-4">
            <h4>Painting</h4>
            <p>
              sample Painting text
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <img src="http://upload.wikimedia.org/wikipedia/commons/a/ac/OneWorldTradeCenter.jpg" alt="About" class="about-image" />
    </div>
  </div>

</div>
